// .row {
//   padding-left: 3%;
//   padding-right: 3%;
// }

.button-right {
  text-align: right;
}

.table {
  display: table;
  .table-row, .thead {
    display: table-row;
    vertical-align: middle;
  }
  .table-cell {
    display: table-cell;
    padding: 0.25em 0.5em;
    // &:empty {
    //   display: none;
    // }
  }
  .table-row {
    .table-cell {
      border: 1px solid whitesmoke;
    }
  }
}


// Uranium
[data-ur-toggler-component="content"][data-ur-state="disabled"] {
  display: none;
}
[data-ur-toggler-component="button"] {
  padding-left: 1.2em;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    height: 1em;
    width: 1em;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    background: url("https://www.uni.edu/features/sites/default/files/uni_blocks/images/up_arrow.png") center center/60% no-repeat;
  }
  &[data-ur-state="disabled"]:before {
    transform: translateY(-50%) rotate(90deg);
  }
}
