// Colors

// $green-light: rgb(225, 234, 224);
// $green-light: rgb(219, 233, 176);
$green-light: rgb(223, 231, 179);
$green-dark:  rgb(92, 137, 56);
$orange1:   rgb(254, 125, 42);
$gray1: rgb(230, 231, 230);

$heading-font:'Maven Pro', sans-serif;
