#import-data {
  label {
    display: none;
  }
  .success {
    background-color: $green-light;
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 1em;
    ul {
      margin-left: 0;
      li {
        list-style-type: none;
        position: relative;
        padding-left: 20px;
        text-align: left;
        &:before {
          content: "";
          position: absolute;
          left: 10px;
          background: url("../images/check-green.png") center center/70% no-repeat;
          height: 1.2em;
          width: 15px;
        }
      }
    }
  }
  h4 span {
    font-weight: bold;
  }
  .button.hide {
    display: none;
  }
}